{% extends 'base.html.twig' %}

{% block main %}

<div id="slideshow">
    <div id="slider" class="owl-carousel owl-theme">
      <div class="item"><img src="{{ asset('slider/images/banner.jpg') }}"></div>
      <div class="item"><img src="{{ asset('slider/images/banner2.jpg') }}"></div>
	</div>
    
   	<div id="prev"><img src="{{ asset('slider/images/prev.png') }}" /></div>
    <div id="next"><img src="{{ asset('slider/images/next.png') }}" /></div>
</div>

<script src="{{ asset('slider/js/jquery.js') }}"></script>
<script src="{{ asset('slider/js/owl.carousel.js') }}"></script>
<link rel="stylesheet" href="{{ asset('slider/css/slider.css') }}" />

<script>
    $(function() {
     
      $("#slider").owlCarousel({
     
          navigation : true, // Show next and prev buttons
          slideSpeed : 300,
          paginationSpeed : 400,
          singleItem:true,
		  items : 1, 
		  autoplay: true,
		  loop: true      
      });
	  
	 var owl = $(".owl-carousel").data('owlCarousel');
	 
	 $( "#next" ).click(function() {
		owl.next() ;
	 });
	 $( "#prev" ).click(function() {
		owl.prev() ;
	 });
	  
     
    });

</script>
<style>
#main{
	max-width:100%;
}
</style>

{% endblock %}
